*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 78.125em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 34.375em) {
    html {
      font-size: 35%; } }
  @media screen and (max-width: 26.25em) {
    html {
      font-size: 27%; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 23%; } }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden; }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(127, 127, 213, 0.8), rgba(145, 234, 228, 0.8)), url("../img/notepad-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  z-index: 10; }
  .header__title {
    grid-column: 1 / span 3;
    grid-row: 1 / span 5;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 43.75em) {
      .header__title {
        grid-column: 1 / -1;
        grid-row: 1 / span 3; } }
  .header__h1 {
    background-image: linear-gradient(#a8ff78, #78ffd6);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
    animation: right 0.8s; }
    @media only screen and (max-width: 66.875em) {
      .header__h1 {
        text-align: center; } }
  .header__h4 {
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    animation: left 0.8s; }
  .header__btn {
    animation: up 0.8s; }
  .header img {
    width: 20rem;
    transition: all 0.4s;
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: 50%; }
  .header__img {
    grid-column: 4 / -1;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 43.75em) {
      .header__img {
        grid-column: 1 / -1;
        grid-row: 4 / span 2; } }
    @media only screen and (max-width: 26.25em) {
      .header__img {
        grid-column: 1 / -1;
        grid-row: 3 / span 3; } }
    .header__img-javascript {
      position: absolute;
      transform: translateY(-13rem);
      z-index: 3;
      animation: show 0.3s; }
      .header__img-javascript:hover {
        transform: scale(1.4) translateY(-13rem);
        z-index: 99;
        border: 2px solid #84c084; }
    .header__img-css {
      position: absolute;
      transform: translateX(-7rem);
      z-index: 2; }
      .header__img-css:hover {
        transform: scale(1.4) translateX(-7rem);
        z-index: 99;
        border: 2px solid #84c084; }
    .header__img-html {
      position: absolute;
      transform: translateX(7rem); }
      .header__img-html:hover {
        transform: translateX(7rem) scale(1.4);
        z-index: 99;
        border: 2px solid #84c084; }

.btn-main:link,
.btn-main:visited {
  border: none;
  background-color: #ffff;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-radius: 10rem;
  position: relative;
  z-index: 2; }
  .btn-main:link::after,
  .btn-main:visited::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #ffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10rem;
    z-index: -1;
    transform: scale(1);
    transition: 0.4s; }
  .btn-main:link:hover::after,
  .btn-main:visited:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.title-1 {
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 26.25em) {
    .title-1 {
      font-size: 15rem; } }

.title-2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700; }

.title-4 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400; }
  @media only screen and (max-width: 26.25em) {
    .title-4 {
      font-size: 5rem; } }

.section-about {
  width: 100%;
  background-image: linear-gradient(to right, rgba(28, 146, 210, 0.8), rgba(242, 252, 254, 0.8));
  margin-top: -20rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 20rem); }
  @media only screen and (max-width: 66.875em) {
    .section-about {
      grid-template-rows: 10rem 20rem repeat(3, 80rem) repeat(2, 10rem); } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      margin-top: -25rem;
      grid-template-rows: 15rem 20rem repeat(3, 80rem) repeat(2, 10rem); } }
  @media only screen and (max-width: 26.25em) {
    .section-about {
      margin-top: -35rem;
      grid-template-rows: 25rem 20rem repeat(3, 80rem) repeat(2, 10rem); } }
  .section-about__title {
    grid-column: 1/ -1;
    grid-row: 2 / 3;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#da4453, #89216b);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 66.875em) {
      .section-about__title {
        display: flex;
        align-items: center;
        justify-content: center; } }
  .section-about__link {
    grid-row: 6 / -1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    padding: 1.5rem 3rem;
    border-bottom: 2px solid black;
    border-radius: 2px;
    font-size: 2.5rem;
    text-transform: uppercase;
    transition: all 0.4s; }
    .section-about__link:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1.5rem 3rem grey;
      border: none;
      background-image: linear-gradient(#11998e, #38ef7d); }
    .section-about__link:active {
      transform: translateY(0); }
    .section-about__link > * {
      transition: all 0.4s; }
    .section-about__link:hover .section-about__link-span {
      margin-left: 1rem; }
    .section-about__link-a:link, .section-about__link-a:visited {
      text-decoration: none;
      color: white; }
    .section-about__link-span {
      position: relative;
      top: -0.1rem; }

.features {
  grid-column: 1 / -1;
  grid-row: 3 / 6;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  @media only screen and (max-width: 66.875em) {
    .features {
      flex-direction: column;
      align-items: center; } }

.features__con {
  transition: all 0.4s;
  width: 40rem;
  height: 80%;
  position: relative;
  perspective: 15000px;
  backface-visibility: hidden;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-width: 66.875em) {
    .features__con {
      width: 70rem;
      height: 30%; } }
  .features__con-front, .features__con-back {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    backface-visibility: hidden;
    transition: all 0.7s;
    box-shadow: 0rem 1.5rem 3rem grey;
    overflow: hidden; }
  .features__con-front {
    transform: rotateY(0);
    border-radius: 5px;
    background-image: linear-gradient(#11998e, #38ef7d);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .features__con-front-text {
      grid-column: 1/-1;
      grid-row: 2/3;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center; }
      .features__con-front-text p {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        padding: 1.5rem 3rem;
        width: 30%;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        border-bottom: 1px solid grey;
        text-align: center; }
    .features__con-front-img1 {
      grid-column: 1/-1;
      grid-row: 1/2;
      background-image: url(../img/notes-1.jpg);
      background-size: cover; }
    .features__con-front-img2 {
      grid-column: 1/-1;
      grid-row: 1/2;
      background-image: url(../img/notes-2.jpg);
      background-size: cover; }
    .features__con-front-img3 {
      grid-column: 1/-1;
      grid-row: 1/2;
      background-image: url(../img/notes-3.jpg);
      background-size: cover; }
  .features__con-back {
    transform: rotateY(180deg);
    background-image: linear-gradient(#00f260, #0575e6);
    display: flex;
    justify-content: center;
    align-items: center; }
  .features__con:hover .features__con-front {
    transform: rotateY(180deg); }
  .features__con:hover .features__con-back {
    transform: rotateY(0deg); }

.story {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-image: linear-gradient(to right bottom, rgba(55, 55, 158, 0.7), rgba(145, 234, 228, 0.7)), url("../img/stroy-backgroud.gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative; }
  .story__h2 {
    text-align: center;
    padding: 5rem;
    background-image: linear-gradient(#a8ff78, #78ffd6);
    -webkit-background-clip: text;
    color: transparent; }
  .story__about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .story__about-con {
      width: 60%;
      height: 30rem;
      background-image: linear-gradient(to right, #eb5757, #000000);
      overflow: hidden;
      transform: skewX(-20deg);
      box-shadow: 0 1.5rem 2rem grey;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: 4rem;
      transition: all 0.4s; }
      @media only screen and (max-width: 56.25em) {
        .story__about-con {
          width: 70%;
          height: 40rem; } }
      @media only screen and (max-width: 26.25em) {
        .story__about-con {
          width: 75%;
          height: 50rem; } }
      .story__about-con > * {
        transform: skewX(20deg); }
      .story__about-con-title {
        grid-column: 1 / span 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 2rem; }
        .story__about-con-title h4 {
          color: #f2fcfe;
          font-size: 4rem; }
        .story__about-con-title-ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .story__about-con-title-ul li {
            color: #9595da;
            padding: 1rem;
            font-size: 2rem;
            margin-top: 1rem;
            text-transform: uppercase;
            font-weight: 800;
            border-bottom: 1px solid grey; }
      .story__about-con-img {
        grid-column: 4 / -1;
        width: 120%;
        height: 100%;
        transition: all 0.4s;
        display: flex;
        justify-content: center;
        background-color: yellow;
        align-items: center; }
        .story__about-con-img-web {
          position: relative;
          right: 10%;
          text-transform: uppercase;
          font-size: 3rem;
          color: black;
          font-weight: 800; }

.footer {
  width: 100%;
  height: 10rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem; }
  .footer__copyright {
    text-transform: uppercase;
    color: white;
    margin-left: 5%; }
  .footer__text {
    color: white;
    margin-right: 5%; }

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-13rem); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-13rem); } }

.madetitle {
  position: fixed;
  z-index: 999999;
  background-image: linear-gradient(#a8ff78, #78ffd6);
  -webkit-background-clip: text;
  color: transparent;
  top: 10rem;
  left: 20rem;
  font-size: 5.5rem;
  text-transform: uppercase;
  animation: title 0.8s forwards; }

@keyframes title {
  0% {
    top: 10rem;
    left: 20rem; }
  100% {
    top: 1rem;
    left: 10%; } }

.display {
  display: none; }

.scale {
  transform: scale(0.005); }

.show-story-left {
  animation: show-left 0.4s forwards; }

@keyframes show-left {
  0% {
    opacity: 0;
    transform: skewX(-20deg) translateX(10rem); }
  100% {
    opacity: 1;
    transform: skewX(-20deg) translateX(0); } }

.nav {
  width: 100%;
  height: 10rem;
  position: fixed;
  background-image: linear-gradient(to right, rgba(35, 37, 37, 0.8), rgba(65, 67, 69, 0.8));
  z-index: 9999; }
  .nav__checkbox {
    position: absolute;
    left: 85%;
    width: 10rem;
    height: 10rem;
    opacity: 0; }
  .nav__button {
    position: absolute;
    left: 85%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999; }
  .nav__icon {
    width: 5rem;
    height: 4px;
    background-color: white;
    display: inline-block;
    position: relative;
    transition: all 0.4s;
    z-index: 9999; }
    .nav__icon::before {
      content: "";
      display: inline-block;
      width: 5rem;
      height: 4px;
      background-color: white;
      display: inline-block;
      position: absolute;
      top: -1.6rem; }
    .nav__icon::after {
      content: "";
      display: inline-block;
      width: 5rem;
      height: 4px;
      background-color: white;
      display: inline-block;
      position: absolute;
      top: 1.6rem;
      right: 0rem; }
  .nav__checkbox:checked + .nav__button .nav__icon {
    transform: rotate(130deg); }
    .nav__checkbox:checked + .nav__button .nav__icon::after {
      transform: rotate(-80deg);
      top: 0; }
    .nav__checkbox:checked + .nav__button .nav__icon::before {
      opacity: 0; }
  .nav__background {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 85%;
    z-index: 1;
    transition: all 0.4s;
    background-image: radial-gradient(#232525, #414345);
    transform: scale(1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998; }
    .nav__background-ul {
      list-style: none;
      text-transform: uppercase;
      color: white;
      font-size: 0.1rem; }
  .nav__checkbox:checked ~ .nav__background {
    transform: scale(80); }
  .nav__ul {
    position: fixed;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    transform: scale(0);
    transition: all 0.4s; }
    .nav__ul li {
      text-transform: uppercase;
      font-size: 3.6rem;
      padding: 3rem;
      width: 20rem;
      font-weight: bold;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      transition: all 0.4s; }
      .nav__ul li::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        transition: transform 0.4s, width 0.2s 0.4s;
        background-image: linear-gradient(to right bottom, #1f4037, #99f2c8);
        transform: scaleY(0);
        z-index: 9997; }
      .nav__ul li:hover::before {
        transform: scaleY(1);
        width: 100%; }
      .nav__ul li a {
        position: relative;
        text-decoration: none;
        color: white;
        z-index: 9998; }
  .nav__checkbox:checked ~ .nav__ul {
    transform: scale(1); }
