.display {
  transform: scale(0);
}

@keyframes down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-arrow {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.header-up {
  transform: translateY(100%);
}

///////////////////////////// MAIN WEBSITE

@keyframes scroll {
  0% {
    left: 0;
  }

  10% {
    left: 0%;
  }

  30% {
    left: -100%;
  }

  50% {
    left: -100%;
  }

  70% {
    left: -200%;
  }

  90% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

////////////////////////////// Loader
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
