.title-h1 {
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 700;

  @media screen and (max-width: $large-med) {
    font-size: 10rem;
  }

  @media screen and (max-width: $med) {
    font-size: 6rem;
  }

  @media screen and (max-height: $height-mobile-small) {
    font-size: 4rem;
  }
}

.title-h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
