*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

.title-h1 {
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 700; }
  @media screen and (max-width: 69.6875em) {
    .title-h1 {
      font-size: 10rem; } }
  @media screen and (max-width: 35.625em) {
    .title-h1 {
      font-size: 6rem; } }

.title-h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

.display {
  transform: scale(0); }

@keyframes down {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show-arrow {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes move-arrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2rem); }
  100% {
    transform: translateY(0); } }

.header-up {
  transform: translateY(100%); }

@keyframes scroll {
  0% {
    left: 0; }
  10% {
    left: 0%; }
  30% {
    left: -100%; }
  50% {
    left: -100%; }
  70% {
    left: -200%; }
  90% {
    left: -200%; }
  100% {
    left: 0; } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.app-con {
  overflow: hidden;
  height: auto;
  transition: all 1.3s;
  display: block; }

.movie {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: linear-gradient(to left, #536976, #292e49);
  transition: 1.3s;
  z-index: 9999;
  position: relative; }
  .movie__background {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 6;
    grid-row: 1 / -1;
    background-image: url(../imgs/header.png);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
    @media screen and (max-width: 69.6875em) {
      .movie__background {
        background-image: url(../imgs/background-spiderman.png);
        grid-column: 4 / -1;
        grid-row: 5 / -1;
        background-position: center; } }
  .movie__info {
    position: relative;
    grid-column: 3 / span 4;
    grid-row: 3 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media screen and (max-width: 69.6875em) {
      .movie__info {
        grid-column: 1 / -1; } }
    .movie__info-svg {
      cursor: pointer;
      position: relative;
      fill: white;
      filter: invert(1);
      width: 20rem;
      animation: show-arrow 0.7s, move-arrow 1s 0.7s infinite;
      transition: all 0.4s; }
    .movie__info-h1 {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .movie__info-h1 > * {
        position: relative;
        background-image: linear-gradient(to right bottom, #ed213a, #93291e);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        opacity: 0;
        position: relative;
        margin: 0; }
      .movie__info-h1-1 {
        animation: down 0.4s forwards; }
      .movie__info-h1-2 {
        animation: down 0.4s 0.1s forwards; }
      .movie__info-h1-3 {
        animation: down 0.4s 0.2s forwards; }
      .movie__info-h1-4 {
        animation: down 0.4s 0.3s forwards; }
      .movie__info-h1-5 {
        animation: down 0.4s 0.4s forwards; }
      .movie__info-h1-6 {
        animation: down 0.4s 0.5s forwards; }
      .movie__info-h1-7 {
        animation: down 0.4s 0.6s forwards; }

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: linear-gradient(#0f2027, #203a43, #2c5364); }
  .main__slider {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
    overflow: hidden;
    border-radius: 4px;
    position: relative; }
    @media screen and (max-width: 69.6875em) {
      .main__slider {
        grid-column: 2 / span 6; } }
    @media screen and (max-width: 35.625em) {
      .main__slider {
        grid-column: 1 / -1; } }
    .main__slider-con {
      position: relative;
      top: 0;
      left: 0;
      overflow-x: auto;
      white-space: nowrap;
      width: 500%;
      height: 100%;
      background-color: black;
      animation: scroll 25s infinite; }
      .main__slider-con img {
        float: left;
        width: 20%;
        height: 100%;
        cursor: pointer; }
  .main__search {
    position: relative;
    grid-column: 3 / span 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 96.25em) {
      .main__search {
        grid-column: 2 / span 6; } }
    @media screen and (max-width: 69.6875em) {
      .main__search {
        grid-column: 1 / -1; } }
    .main__search-svg {
      fill: black;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
      margin-left: -4rem; }
    .main__search-label {
      font-size: 3rem;
      margin-right: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #eee; }
    .main__search-input {
      border-radius: 2px;
      width: 50%;
      height: 3rem;
      font-size: 3rem;
      color: #eee;
      transition: all 0.4s;
      border: 2px solid black; }
      @media screen and (max-width: 69.6875em) {
        .main__search-input {
          font-size: 2rem; } }
      @media screen and (max-width: 27.5em) {
        .main__search-input {
          width: 70%; } }
      .main__search-input:focus {
        background-color: black;
        width: 70%; }
        @media screen and (max-width: 27.5em) {
          .main__search-input:focus {
            width: 90%; } }
      .main__search-input::placeholder {
        text-transform: uppercase;
        color: black; }
    .main__search-input:focus + .main__search-svg {
      fill: #eee;
      filter: invert(1); }
  .main__movies {
    position: relative;
    grid-column: 1/ -1;
    grid-row: 4 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 50rem);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    overflow: scroll;
    font-size: 6rem; }
    @media screen and (max-width: 21.25em) {
      .main__movies {
        grid-template-columns: repeat(auto-fit, 25rem);
        grid-template-rows: repeat(auto-fit, 50rem); } }
    .main__movies > * {
      text-transform: uppercase;
      text-align: center; }
    .main__movies-movie {
      background-image: linear-gradient(#ffefba, #ffffff);
      border-radius: 2px;
      box-shadow: 0px 9px 15px -1px #000000;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      cursor: pointer; }
      .main__movies-movie-img {
        grid-column: 1 / -1;
        grid-row: 1 / span 3;
        width: 100%;
        min-height: 25rem;
        max-height: 25rem; }
      .main__movies-movie-h4 {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        display: flex;
        justify-content: center;
        align-items: center; }
      .main__movies-movie-type {
        grid-column: 1 / span 2;
        grid-row: 5 / 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 400; }
      .main__movies-movie-span {
        color: green; }
      .main__movies-movie-relese {
        grid-column: 3 / -1;
        grid-row: 5 / 6;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .main__movies-movie-rat {
        grid-column: 1 / span 2;
        grid-row: 6 / -1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .main__movies-movie-time {
        grid-column: 3 / -1;
        grid-row: 6 / -1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .main__movies-loader {
      grid-column: 1 / -1;
      grid-row: 4 / -1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main__movies-loader-load {
        width: 10rem;
        height: 10rem;
        background-color: rgba(156, 149, 149, 0);
        border: 5px solid rgba(250, 250, 250, 0.2);
        border-radius: 100px;
        border-top-color: #fff;
        animation: spin 1.5s infinite; }
